<div class="background"></div>
    
    <!-- Ventana modal INFO -->
    <div class="modal-overlay" id="modal" onclick="closeModal(event)">
        <div class="modal-content">
            <h1>SONO MAYRIT</h1>
            <p> Sono Mayrit is a radio producer and sonic researcher focused on the fluid interconnections of the Mediterranean region. His collaborative projects explore the parallels between tradition, sonic experimentation and socio-cultural narratives.</p>
            <br>
            <p>Over the past six years he has worked with artists, radio stations and cultural institutions, curating and producing radio shows, live performances, listening sessions, discussion panels and more.</p>
        </div>
    </div>

    

